= simple_form_for(@workout, html: { class: 'form-horizontal'}) do |f|
    = f.input :date, Label: "Date"
    = f.input :workout, Label: "What did you workout today?", input_html: { class: "form-control" }
    = f.input :mood, Label: "How did you feel during the workout?", input_html: { class: "form-control" }
    = f.input :length, Label: "How long did you work out for?", input_html: { class: "form-control" }
    %br/
    = f.button :submit
    