#workout 

%p= @workout.date
%p= @workout.workout
%p= @workout.mood
%p= @workout.length
%hr/

#exercise
%h3 Exercises
= render @workout.exercises
%hr/

#exerciseForm
%h3 Add Exercises
= render 'exercises/form'


= link_to "Back", root_path
|
= link_to "Edit", edit_workout_path
| 
= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" }