#workout 

%center.h2= @workout.date.strftime("%A, %b %d ~ %r")
%center.h4.show Today you worked out your, #{@workout.workout}! 
%center.h5.show You felt #{@workout.mood} and you sweat for #{@workout.length}! Great Job!!!
// %center.h3.show Today You Worked Out: #{@workout.workout}
// %center.h3.show You Felt Like: #{@workout.mood}
// %center.h3.show You Sweat For: #{@workout.length}
%hr/

// %center.h4.show Today you worked out your, #{@workout.workout}! You felt, #{@workout.mood} and you sweat for #{@workout.length}! Great Job!!!

#exercise
%br/
%center.h3 Detailed Exercise Log:
%br/
= render @workout.exercises
%hr/

#exerciseForm
%h3 Add Exercises
= render 'exercises/form'


= link_to "Back", root_path
|
= link_to "Edit", edit_workout_path
| 
= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" }