<p id="notice"><%= notice %></p>

<center><h1>Calorie Diary</h1></center>
<br />
<br />
<table class="table table-bordered">
  <thead>
    <tr>
      <th><center>Name</center></th>
      <th><center>Calories</center></th>
      <th colspan="3"><center>Actions</center></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.calories %></td>
        <td class="action"><%= link_to 'Show', food %></td>
        <td class="action"><%= link_to 'Edit', edit_food_path(food) %></td>
        <td class="action"><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Food', new_food_path, { class: 'btn btn-primary pull-right' } %>
<br />
<footer><a href="http://www.nutritionix.com/api">Copyright: Nutritionix API</a></footer>
