<p id="notice"><%= notice %></p>


<div class="row">
  <center><h1 class="food-show">Food Selected:</h1></center>
  <center><ul>
    <li>Click *edit* to edit selection.</li>
    <li>Click *back* to return to your Calories Diary.</li>
  </ul></center>
</div>

<br/>

<center><div class="row">
  <div class="col-xs-6 col-sm-4"><strong>Name: </strong><%= @food.name %></div>
  <div class="col-xs-6 col-sm-4"><strong>Calories: </strong><%= @food.calories %></div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"><%= link_to 'Edit', edit_food_path(@food) %> | <%= link_to 'Back', foods_path %></div>
</div></center>