%table.table.table-responsive
    %thead
        %tr
            %th.main #{exercise.name}
            %br/
            %th.sec Sets: #{exercise.sets}
            %th.sec Reps: #{exercise.reps}
            %th.sec Weight: #{exercise.weight}            

    %tfoot
        %tr 
            %td
                %p Notes: #{exercise.notes}
%br/
    
