%table.table.table-responsive
    %thead
        %tr
            %th.main #{exercise.name}
            %th.sec Sets: #{exercise.sets}
            %th.sec Reps: #{exercise.reps}
            %th.sec Weight: #{exercise.weight} 
            // %th.sec= link_to "Delete", workout_path(@workout.exercises), method: :delete, data: { confirm: "Are you sure?" }

    %tfoot
        %tr 
            %td
                %p Notes: #{exercise.notes}
%br/
    
