= simple_form_for([@workout, @workout.exercises.build]) do |f|
    = f.input :name, Label: "What exercise did you do?", input_html: { class: "form-control" }
    = f.input :sets, Label: "How many sets did you do?", input_html: { class: "form-control" }
    = f.input :reps, Label: "How many reps did you do per set?", input_html: { class: "form-control" }
    = f.input :weight, Label: "How much weight did you use?", input_html: { class: "form-control" }
    = f.input :notes, Label: "Notes:", input_html: { class: "form-control" }
    %hr/
    %br/
    = f.button :submit

